.int {
	width: 50px; 
	float: left; 
}

.tuplo {
	clear:both; 
}



.tuplo .separator, .label {
	float: left; 
}

.tiles {
  width: 100%; 
  max-height: 200px; 
  overflow: auto; 
}

.map {
	position: relative; 
	height: 200px; 
	width: 100%; 
}

.sprite, 
.layer, 
.grid, 
.layers {
	position: absolute; 
}

.grid {
	z-index: 1;
}

.layers {
	z-index: 0; 
}


